mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  /* Using 100vh causes double scrollbars to appear on some devices */
  height: 90vh;
}

mat-sidenav-container {
  border-bottom: 1px solid #808080;
  flex-grow: 1;
  height: 100%!important;
  mat-sidenav {
    height: 100%;
  }
  mat-sidenav-content {
    height: 100%;
  }
}

.mat-sidenav {
  width: 220px;
}

button.menu-button {
  color: inherit;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/** No CSS for this example */
.example-spacer {
  flex: 1 1 auto;
}


.user-profile {
  padding: 3px 4px!important;
  box-sizing: border-box;
  ::ng-deep .mat-button-wrapper {
    display: flex;
    column-gap: 8px;
  }
  img {
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    border-radius: 100%!important;
    background-color: #ffff;
    object-position: center;
    object-fit: contain;
  }
  @media only screen and (max-width: 768px) {
    min-width: 45px!important;
    height: 45px!important;
    .fullname {
      display: none!important;
    }
  }
}

.mat-menu-item {
  height: inherit;
  width: inherit;
  background: lightgoldenrodyellow
}
::ng-deep .user-profile-popover-panel {
  display: flex;
  flex-direction: column;
  .mat-menu-content {
    display: flex;
    flex-direction: column;
  }
}
.user-profile-popover-content {
  button {
    cursor: pointer!important;
  }
  cursor: default!important;
  background-color: transparent!important;
  display: flex!important;
  width: 200px!important;
  align-items: center;
  flex-grow: 1;
  height: auto;
  column-gap: 8px;
  .avatar {
    display: flex;
    width: 35px!important;
    min-width: 35px;
    img {
      width: 100%;
      width: 100%;
      box-sizing: border-box;
      border-radius: 100%!important;
    }
  }
  .info {
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    span,p {
      margin: 0!important;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .name {
      font-size: 14px!important;
      font-weight: 700!important;
    }
    .username {
      font-size: 14px!important;
    }
    .role {
      font-size: 12px!important;
      font-weight: 700!important;
    }
  }
}
