
.page-view-container {
  .content-inner {
    .mat-form-field {
      &.isLargeScreen{
        padding-right: 10px!important;
      }
    }

    form {
      fieldset {
        padding: 0!important;
        margin: 0!important;
        border: none!important;
        min-width: 0!important;
      }
    }


    .group-info {
      align-items: center;
      column-gap: 10px;
      mat-icon {

      }
      .group-info-text {
        margin: 0!important;
      }
    }
  }
}


table{
  width: 100%;
 }

 mat-table {
  thead {
   th {
    .mat-cell {
     word-wrap: break-word !important;
     white-space: unset !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
    }
   }
  }

  tbody {
    td {
     .mat-cell {
      word-wrap: break-word !important;
      white-space: unset !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
     }
    }
   }
 }

 .mat-column-name {
  flex: 0 0 40% !important;
  width: 40% !important;
 }
 .mat-column-petCategory {
  flex: 0 0 20% !important;
  width: 20% !important;
 }

 .mat-column-birthDate {
  flex: 0 0 10% !important;
  width: 10% !important;
 }

 .mat-column-weight {
  flex: 0 0 10% !important;
  width: 10% !important;
 }

 .mat-column-gender {
  flex: 0 0 10% !important;
  width: 10% !important;
 }

 .mat-column-controls {
   flex: 0 0 1% !important;
   width: 1% !important;
   padding-right: 0!important;
 }

.table-no-data {
  background-color: #ECEFF1;
  padding: 20px;
  color: #424242 !important;
  span {
    text-align: left;
    font-size: 15px!important;
  }
}

.add-pet-dialog {
  max-width: 500px!important;
  width: 500px!important;
}
