
 .mat-column-appointmentId {
  flex: 0 0 10% !important;
  width: 10% !important;
 }

 .mat-column-appointmentDate {
  flex: 0 0 20% !important;
  width: 20% !important;
 }

 .mat-column-diagnosisAndTreatment {
  flex: 0 0 60% !important;
  width: 60% !important;
 }

 .mat-column-controls {
   flex: 0 0 1% !important;
   width: 1% !important;
   padding-right: 0!important;
 }

 @media only screen and (max-width: 414px) {
 }

 .table-no-data {
  background-color: #ECEFF1;
  padding: 20px;
  color: #424242 !important;
  span {
    text-align: left;
    font-size: 15px!important;
  }
}
