table{
  width: 100%;
 }
 th.mat-sort-header-sorted {
   color: black;
 }

 mat-table {
  thead {
   th {
    .mat-cell {
     word-wrap: break-word !important;
     white-space: unset !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
    }
   }
  }

  tbody {
    td {
     .mat-cell {
      word-wrap: break-word !important;
      white-space: unset !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
     }
    }
   }
 }

  ::ng-deep .table-appointment {
    tr.mat-header-row {
      .mat-header-cell {
        padding-right: 20px!important;
        &:last-child {
          padding-right: 0!important;
        }
      }
    }
    tr.mat-row {
      .mat-cell {
        height: 80px!important;
        padding-right: 20px!important;
        &:last-child {
          padding-right: 0!important;
        }
      }
    }
  }
 .mat-column-appointmentId {
  flex: 0 0 3% !important;
  width: 3% !important;
  padding-left: 0!important;
 }

 .mat-column-appointmentDate {
  flex: 0 0 15% !important;
  width: 15% !important;
 }

 .mat-column-client {
  flex: 0 0 25% !important;
  width: 25% !important;
 }

 .mat-column-consultaionType {
  flex: 0 0 10% !important;
  width: 10% !important;
 }

 .mat-column-service {
  flex: 0 0 10% !important;
  width: 10% !important;
 }

 .mat-column-vet {
  flex: 0 0 15% !important;
  width: 15% !important;
 }

 .mat-column-amountToPay {
  flex: 0 0 10% !important;
  width: 10% !important;
 }

 .mat-column-appointmentStatus {
  flex: 0 0 5% !important;
  width: 5% !important;
 }

 .mat-column-controls {
   flex: 0 0 1% !important;
   width: 1% !important;
   padding-right: 0!important;
 }

 @media only screen and (max-width: 1080px) {
  .mat-column-appointmentDate {
   flex: 0 0 30% !important;
   width: 30% !important;
  }
  .mat-column-consultaionType {
    display: none!important;
  }
 }
 @media only screen and (max-width: 912px) {
  .mat-column-appointmentDate {
   flex: 0 0 30% !important;
   width: 30% !important;
  }
  .mat-column-amountToPay {
   flex: 0 0 2% !important;
   width: 2% !important;
  }
 }

 @media only screen and (max-width: 768px) {
  .mat-column-service {
    display: none!important;
  }
  .mat-column-vet {
    display: none!important;
  }
 }

 @media only screen and (max-width: 540px) {

  .mat-column-appointmentStatus {
    display: none!important;
  }
 }

 @media only screen and (max-width: 414px) {

  .mat-column-amountToPay {
    display: none!important;
  }
 }

 .table-no-data {
  background-color: #ECEFF1;
  padding: 20px;
  color: #424242 !important;
  span {
    text-align: left;
    font-size: 15px!important;
  }
}

.mat-form-field,div {
  &.isLargeScreen{
    padding-right: 10px!important;
    &:last-child {
    padding-right: 0!important;
    }
  }
}
