table{
  width: 100%;
 }

 mat-table {
  thead {
   th {
    .mat-cell {
     word-wrap: break-word !important;
     white-space: unset !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
    }
   }
  }

  tbody {
    td {
     .mat-cell {
      word-wrap: break-word !important;
      white-space: unset !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
     }
    }
   }
 }

 .mat-column-name {
  flex: 0 0 20% !important;
  width: 20% !important;
 }

 .mat-column-access {
  flex: 0 0 80% !important;
  width: 80% !important;
 }


 .mat-column-controls {
   flex: 0 0 1% !important;
   width: 1% !important;
   padding-right: 0!important;
 }

 @media only screen and (max-width: 414px) {
  .mat-column-access {
    display: none!important;
   }
 }

 .table-no-data {
  background-color: #ECEFF1;
  padding: 20px;
  color: #424242 !important;
  span {
    text-align: left;
    font-size: 15px!important;
  }
}
