<div class="page-view-container">
  <mat-card [ngClass]="{ 'hidden': isLoading }">
    <mat-card-header style="flex-direction:column">
      <mat-card-subtitle>User</mat-card-subtitle>
      <div style="display: flex!important;flex-grow: 1;column-gap:10px" >
        <button mat-button matTooltip="Show Stff" *ngIf="userTypeId !== 1" [routerLink]="'/security/users/staff/'" [disabled]="isProcessing">
          Staff
        </button>
        <button mat-stroked-button *ngIf="userTypeId === 1" [disabled]="isProcessing">
          Staff
        </button>
        <button mat-button matTooltip="Show Clients" *ngIf="userTypeId !== 2" [routerLink]="'/security/users/clients/'" [disabled]="isProcessing">
          Clients
        </button>
        <button mat-stroked-button *ngIf="userTypeId === 2" [disabled]="isProcessing">
          Clients
        </button>
        <div fxFlex></div>
        <button mat-stroked-button matTooltip="Add" [routerLink]="'/security/users/add/' + (userTypeId === 1 ? 'staff' : 'clients')" [disabled]="isProcessing">
          <mat-icon>person_add</mat-icon>
          New {{userTypeId === 1 ? 'Staff' : 'Client'}}
        </button>
      </div>
    </mat-card-header>
    <mat-card-content fxLayout="column" >
      <table class="table-users" mat-table matSort [dataSource]="dataSource" >

        <!-- Id Column -->
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} <strong *ngIf="!element.enable" style="color: #f44336;">(Disabled)</strong> </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Mobile number Column -->
        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile number </th>
          <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
        </ng-container>

        <!-- Controls Column -->
        <ng-container matColumnDef="controls">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element">
            <button matTooltip="More" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button  mat-menu-item routerLink="/security/users/details/{{element.userId}}">Details</button>
              <button  mat-menu-item *ngIf="currentUserId !== element.userId" (click)="toggleEnable(element.userId, element.enable)">{{element.enable ? 'Disable user' : 'Enable user'}}</button>
            </mat-menu>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="table-no-data" *ngIf="dataSource.data.length === 0">
        <span>No users available</span>
      </div>

      <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[10, 20, 50, 100]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="isLoading">

    <table class="mat-table" role="table" >
      <thead role="rowgroup">
        <tr role="row" class="mat-header-row">
          <th role="columnheader" class="mat-header-cell" *ngFor="let row of loaderData"> {{col}} </th>
           <th role="columnheader" class="mat-header-cell"> </th>
        </tr>
     </thead>
      <tbody>
         <tr class="mat-row " *ngFor="let row of loaderData">
            <td role="cell" *ngFor="let col of displayedColumns" class="mat-cell mat-column-'{{col}}'"><ngx-skeleton-loader [theme]="{ height: '30px'}"></ngx-skeleton-loader></td>
         </tr>
      </tbody>
   </table>
  </mat-card >
  <!-- <ng-template #elseLoadingTemp>

  </ng-template> -->

</div>
