<div class="page-view-container">
  <mat-card>
    <mat-card-content>
      <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10">
        <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="25">
          <h3>Select filter</h3>
          <mat-form-field appearance="outline" appearance="outline">
            <mat-label>Select filter</mat-label>
            <mat-select [disabled]="isLoading"
              [formControl]="selectFilterTypeCtrl">
              <mat-option value="Yearly">Yearly</mat-option>
              <mat-option value="Monthly">Monthly</mat-option>
              <mat-option value="Range">Date Range</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="25" *ngIf="selectFilterTypeCtrl.value === 'Yearly' ? selectFilterTypeCtrl.value && selectFilterTypeCtrl.value !== '' ? true : false : false">
          <h3>Year</h3>
          <mat-form-field appearance="outline"
          (click)="openYearPickerDialog()">
            <mat-label>Year</mat-label>
            <input
              matInput
              readonly
              placeholder="Year"
              [formControl]="selectedYearCtrl"
              (keydown.enter)="openYearPickerDialog()">
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="100" fxFlex.gt-xs="25" *ngIf="selectFilterTypeCtrl.value === 'Monthly' ? selectedYearCtrl.value && selectedYearCtrl.value !== 'Yearly' ? true : false: false">
          <h3>Month</h3>
          <mat-form-field appearance="outline"
          (click)="openMonthPickerDialog()">
            <mat-label>Month</mat-label>
            <input
              matInput
              readonly
              [value]="selectedMonthData | date: 'MMMMM'"
              placeholder="Month"
              [formControl]="selectedMonthCtrl"
              (keydown.enter)="openMonthPickerDialog()">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Summary({{yearFilter}})</mat-card-subtitle>
      <div fxFlex></div>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <div
        fxFlex="100"
        fxLayout="row"
        class="pie-chart-holder"
        *ngIf="!isLoading; else elseLoadingPieChart"
      >
        <div id="pieChart">
          <apx-chart
            [series]="pieChartOptions.series"
            [chart]="pieChartOptions.chart"
            [labels]="pieChartOptions.labels"
            [responsive]="pieChartOptions.responsive"
          ></apx-chart>
        </div>
      </div>

      <ng-template #elseLoadingPieChart>
        <ngx-skeleton-loader
          fxFlex
          [theme]="{ height: '150px', width: '150px' }"
        >
      </ngx-skeleton-loader>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>Completed Appointments({{yearFilter}})</mat-card-subtitle>
      <div fxFlex></div>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <div fxFlex="100" *ngIf="!isLoading; else elseLoadingChart">
        <div id="areaChart">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [tooltip]="chartOptions.tooltip"
            [dataLabels]="chartOptions.dataLabels"
          ></apx-chart>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #elseLoadingChart>
  <ngx-skeleton-loader
    fxFlex
    [theme]="{ height: '200px', width: '100%' }"
  >
</ngx-skeleton-loader>
