<div class="container">
  <div class="remote-video-holder">
    <video [style.display]="!connected ? 'none!important' : ''" #remoteVideo autoplay playsinline></video>
    <div class="video-placeholder" [style.display]="connected ? 'none!important' : ''">
      <h2>
        {{ isClient ? 'Call not started waiting for veterinarian to start the call. please try again later' : 'Waiting for client to join the call...' }}
      </h2>
    </div>
  </div>
  <div class="controls" >
    <!-- <button mat-fab class="btn-default" (click)="isMicOff = !isMicOff">
      <mat-icon>{{isMicOff ? 'mic_off' : 'mic'}}</mat-icon>
    </button> -->
    <button mat-fab color="warn" *ngIf="!this.isClient" (click)="endCall()">
      <mat-icon>call_end</mat-icon>
    </button>
  </div>
  <div class="local-video-holder">
    <video #localVideo autoplay playsinline [muted]=true></video>
  </div>
</div>
