<h4 mat-dialog-title >{{!isLoading ? (typeId === 1 ? 'Select Vet' : 'Select  Client'): 'Loading... please wait'}}</h4>
<div mat-dialog-content>
  <div fxFlex="100" fxLayout="column" fxLayout="column">
    <mat-selection-list #names [multiple]="false">
      <mat-list-option *ngFor="let item of list" [value]="item">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        {{item.fullName}}
      </mat-list-option>
    </mat-selection-list>

  </div>
</div>

<div mat-dialog-actions>
  <div flxFlex fxLayout="row" style="flex-grow: 1;"  fxLayoutAlign="end">
    <button
      mat-flat-button
      cdkFocusInitial
      (click)="onDismiss()"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!names.selectedOptions.selected[0]?.value"
      (click)="onSelect(names.selectedOptions.selected[0]?.value)">
      Select
    </button>
  </div>
</div>
