<h4 mat-dialog-title>Update password</h4>

<div mat-dialog-content>
  <div fxFlex="100" fxLayout="column" fxLayout="column">
    <form  [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center" id="updatePasswordForm">
      <fieldset fxFlex="100" fxLayout="column wrap" [disabled]="isProcessing">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            #password
            type="password"
            placeholder="Password"
            formControlName="password">
            <mat-icon
              class="icon-right"
              (click)="password.type = (password.type === 'password' ? 'text' : 'password')"
              style="cursor: pointer;"
              matSuffix>{{ password.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
            <mat-error *ngIf="getError('password') !== (null || undefined)">{{
              (getError('password') && getError('password').required ? 'Please enter your password' : '')
            }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            type="password"
            #confirmPassword
            placeholder="Confirm password"
            formControlName="confirmPassword"
            [errorStateMatcher]="matcher">
            <mat-icon
              class="icon-right"
              (click)="confirmPassword.type = (confirmPassword.type === 'password' ? 'text' : 'password')"
              style="cursor: pointer;"
              matSuffix>{{ confirmPassword.type === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
            <mat-error *ngIf="getError('confirmPassword') !== (null || undefined)">{{
              (getError('confirmPassword') && getError('confirmPassword').notMatched ? 'Please confirm your password' : '')
            }}</mat-error>
        </mat-form-field>
      </fieldset>
    </form>
  </div>
</div>

<div mat-dialog-actions>
  <div>
    <button
      mat-flat-button
      [disabled]="isProcessing"
      cdkFocusInitial
      (click)="onDismiss()"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      [disabled]="isProcessing || !updatePasswordForm.valid"
      color="primary"
      form="updatePasswordForm"
      type="submit"
    >
      Save
    </button>
  </div>
</div>
