<h4 *ngIf="!isLoading" mat-dialog-title>Pet</h4>

<div mat-dialog-content>
  <div *ngIf="!hasError; else elseError" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
      <strong>Name</strong>
      <h3 class="group-info-text">{{petData.name}}</h3>
    </div>
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
      <strong>Category</strong>
      <h3 class="group-info-text">{{petData.petCategory.name}}</h3>
    </div>
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
      <strong>Gender</strong>
      <h3 class="group-info-text">{{petData.gender.name}}</h3>
    </div>
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
      <strong>Birthdate</strong>
      <h3 class="group-info-text">{{petData.birthDate | date: 'MMMM d, y'}}</h3>
    </div>
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">
      <strong>Weight</strong>
      <h3 class="group-info-text">{{petData.weight}}(kg)</h3>
    </div>
  </div>

  <ng-template #elseError>
    <div class="error">
      <h3>Unable to view pet. please try again</h3>
    </div>
  </ng-template>
</div>
<div mat-dialog-actions *ngIf="!isLoading">
  <button
    mat-stroked-button
    [disabled]="isLoading"
    cdkFocusInitial
    mat-dialog-close>
    Close
  </button>
</div>
